i.material-icons {
  font-size: 2.4rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  -moz-user-select: none;
  user-select: none; 
  transition: transform 0.3s ease;
}

i.material-icons:hover {
  background-color: transparent;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: none;
}
