$color-background: #ccddee;
$color-train: rgb(144, 173, 211);
$color-train-2: rgb(226, 116, 253);
$color-play: rgb(108, 196, 156);
$color-play-2: rgb(159, 216, 84);
$color-nav-text: rgb(255, 248, 153);
$color-nav-text-active: rgb(255, 211, 153);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
