.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
    .card .translation {
      display: none;
    }

    @include media-tablet {
      padding: 0;
      justify-content: space-around;
    }
    @include media-mobile {
      justify-content: center;
    }
  }
}