$color-background: #ccddff;
$color-train: #90add3;
$color-train-2: #e274fd;
$color-play: #6cc49c;
$color-play-2: #9fd854;
$color-nav-text: #fff899;
$color-nav-text-active: #ffd399;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
