$app-background-color: #6677ffaa;
$button-background-color: #aeb5b9a6;
$button-active-background-color: #4c5255c2;
$button-hover-background-color: #AAf;
$text-color: #FFFFFF;
$icon-hover-color: #9999ff;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
